cache/
web/cache.json
node_modules/
/config.json
server/config.json
server/cookie.json
server/logs/
bundle/clip/config.json
bundle/clip/data/
bundle/clip/models/
*.zip
*.7z
*.rar
bundle/python/
bundle/python-cpu/
bundle/_delete_pending_python_gpu/
__pycache__/
test_*.py
build/
